body {
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
}

section {
     height: 600px;
     padding-bottom: 300px;
}

.about {
     background-image: url(img/header-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
}

.biography {
     background-image: url(img/biography-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
}

.latest-work {
     height: 280px;
     background-image: url(img/latest-work-bg.png);
     background-repeat: no-repeat;
     background-position: left;
     background-size: cover;
}

.half-width {
     position: relative;
     top: 80px;
     float: left;
     width: 40%;
     margin-left: 5%;
     padding-left: 2%;
}

.half-width img {
     width: 100%;
}

a {
     text-decoration: none;
     text-transform: uppercase;
     color: white;
     background-image: linear-gradient(45deg, lightpink, rgb(255, 0, 140));
     padding: 10px 25px;
     border-radius: 5px;
     transition: all 0.4s;
}

a:hover {
     background-image: linear-gradient(45deg,rgb(255, 0, 140), lightpink);
     padding: 12px 27px;
     border-radius: 5px;
}

p {
     color: dimgray;
     margin-bottom: 30px;
}

.pink {
     color: rgb(255, 0, 140);
}

h1 {
     font-size: 50px;
     font-weight: bold;
}

.latest-work h1 {
     text-align: center;
     margin-top: 0;
     margin-bottom: 100px;
     padding-top: 50px;
}

.info {
     position: relative;
     top: 175px;
}

.one-third {
     float: left;
     width: 25%;
     margin-left: 5%;
     padding-left: 2%;
}

.one-third img {
     width: 100%;
}

footer {
     height: 500px;
     background-image: url(img/footer-bg.png);
     background-position: left;
}

footer h1 {
     margin: 0;
     text-align: center;
     padding-top: 50px;
     padding-bottom: 100px;
}

footer p {
     text-align: center;
}

.bold {
     color: black;
     font-weight: bold;
}

footer b {
     text-align: center;
}

.message {
     background-color: rgb(255, 0, 140);
     height: 100px;
     width: 450px;
     position: relative;
     left: 35%;
}

.message p {
     color: white;
}

.message .bold {
     padding-top: 15px;
}